<div class="col-xs-12 banner">
  <div class="row">
    <div class="title">
      <h1>HUNGRY?</h1>
      <h3>Don't feel like cooking?</h3>
      <h3>We ot you coverd.</h3>
    </div>
    <div class="search_wrap">
      <div class="ui form">
        <div class="field">
          <input type="text" name="first-name" placeholder="Search" id="keyword_input">
          <div class="ui vertical menu">
            <a class="item">Kitchen or chef</a>
            <a class="item">Most popular</a>
            <a class="item">New in store</a>
          </div>
        </div>
        <div class="field">
          <input type="text" name="first-name" placeholder="Near" id="location_input">
        </div>

        <button id='search_submit' class="ui button" type="submit"><i class="fa fa-search fa-2x" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 filters ui accordion">
  <div class="row">
    <div class="ui icon button title pull-left" data-tooltip="Filter" data-inverted="">
      <i class="fa fa-filter fa-2x" aria-hidden="true"></i>
    </div>
    <%= render 'filter_content' %>
    <div class="ui icon button pull-right" data-tooltip="Map view" data-inverted="">
      <%= image_tag 'icon/map.png' %>
    </div>
    <div class="ui icon button pull-right hidden" data-tooltip="Product list" data-inverted="">
      <%= image_tag 'icon/list_view.png' %>
    </div>
  </div>
</div>

<div class="location_map hidden">
  <div class="col-xs-12">
    <div class="row">
      <%= render 'map' %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row foods restaurants cards" id="results" data-sum_qty="<%= @sum_qty %>" data-page="1">
    <%= render 'foods',foods: @foods %>
  </div>
  <div class="load_more" id="load_more">
    <input type="button" value="Load more">
  </div>

</div>

<% @food_available_bigbun_array.each do |group| %>
    <%= render 'common/bigbun', food: group[0], bigbun: group[1], restaurant: group[0].restaurant %>
<% end %>

<%= javascript_include_tag 'main' %>

