<div class="col-xs-12 banner">
  <div class="row">
    <div class="title">
      <h1>HUNGRY?</h1>
      <h3>Don't feel like cooking?</h3>
      <h3>We ot you coverd.</h3>
    </div>
    <div class="search_wrap">
      <div class="ui form">
        <div class="ui fluid search selection dropdown" id="search_text_input">
          <input type="hidden" name="country">
          <i class="dropdown icon"></i>
          <div class="default text">Search</div>
          <div class="menu">
            <div class="item" data-value="kitchen_chef"></i>Kitchen or chef</div>
            <div class="item" data-value="most_pop"></i>Most popular</div>
            <div class="item" data-value="new_store"></i>New in store</div>
          </div>
        </div>
        <div class="ui fluid search selection dropdown" id="near_input">
          <input type="hidden" name="country">
          <i class="dropdown icon"></i>
          <div class="default text">Near</div>
          <div class="menu">
            <div class="item" data-value="kitchen_chef"></i>Kitchen or chef</div>
            <div class="item" data-value="most_pop"></i>Most popular</div>
            <div class="item" data-value="new_store"></i>New in store</div>
          </div>
        </div>

        <button id='search_submit' class="ui button" type="submit"><i class="fa fa-search fa-2x" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 filters ui accordion">
  <div class="row">
    <div class="ui icon button title pull-left" data-tooltip="Filter" data-inverted="">
      <i class="fa fa-filter fa-2x" aria-hidden="true"></i>
    </div>
    <%= render 'filter_content' %>
    <div class="ui icon button pull-right" data-tooltip="Map view" data-inverted="">
      <%= image_tag 'map_icon.png' %>
    </div>
    <div class="ui icon button pull-right hidden" data-tooltip="Product list" data-inverted="">
      <%= image_tag 'list_view_icon.png' %>
    </div>
  </div>
</div>


<div class="location_map hidden">
  <div class="col-xs-12">
    <div class="row">
      <%= render 'map' %>
    </div>
  </div>
</div>
<div class="container">

  <% @products = 1 %>
  <% if @products == 1 %>
      <div class="row products cards">
        <%= content_for :card_hover_link do %>
            <div class="sold_num">
              <i class="fa fa-heart" aria-hidden="true">
                <span><p>123</p></span>
              </i>
            </div>
            <span name="sold_p">sold last week</span>
            <div class="wrapping_div">
              <i class="fa fa-external-link ui custom button" aria-hidden="true"></i>
            </div>
            <div class="ui custom popup top left transition hidden">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <i class="fa fa-weixin" aria-hidden="true"></i>
            </div>
        <% end %>
        <% @foods.each do |food| %>
            <div class="col-md-4 col-xs-6">
              <div class="ui fluid card" data-id="<%= food.id %>">
                <div class="image">
                  <img data-src="<%= image_path 'BB_DHD.png' %>" class="food_status">
                  <img data-src="<%= image_path 'product.png' %>">
                  <div class="card_hover_link hidden hidden-xs">
                    <%= content_for :card_hover_link %>
                  </div>
                </div>
                <div class="content">
                  <div class="ui icon button address" data-tooltip="Address" data-inverted="">
                    <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
                  </div>

                  <p class="description"><a href=""><%= food.restaurant.name %></a></p>

                  <hr>
                  <div class="address_detail hidden">
                    <p>全家家就是你家你家就是我家 我家不是你家</p>
                    <hr>
                  </div>

                  <p class="header"><a href="">Roasted Duck</a></p>

                  <p class="description" href="#">$<%= food.price %>/ Half</p>
                  <div class="meta hidden-xs">
                    <span><a href="">Vegan</a></span><span><a href="">Soup</a></span><span><a href="">Pumkim</a></span><span><a href="">Autum</a></span>
                  </div>
                  <div class="ui rating " data-rating="3" data-max-rating="5"></div>
                  <div class="card_hover_link visible-xs">
                    <%= content_for :card_hover_link %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
        <div class="load_more" id="load_more">
          <button class="ui button my_btn absolute_center">Load more</button>
        </div>
      </div>
  <% else %>
      <div class="row kitchens cards">
        <% 81.times do %>
            <div class="col-md-4 col-xs-6">
              <div class="ui fluid card">
                <div class="image">
                  <img data-src="<%= image_path 'kitchen.png' %>">
                </div>
                <div class="content">
                  <h4><a href="">Mr.chans Kitchen</a></h4>
                  <div class="rating_wrapping">
                    <div class="ui rating" data-rating="3" data-max-rating="5"></div>
                    <span name="reivews">200 Reviews</span>
                  </div>
                  <div class="num_counts">
                    <%= image_tag 'heart_icon.png'%>
                    <span>102 Likes</span>
                    <%= image_tag 'plate_icon.png'%>
                    <span>238 Orders</span>
                  </div>
                  <div class="meta hidden-xs">
                    <span><a href="">Vegan</a></span><span><a href="">Soup</a></span><span><a href="">Pumkim</a></span><span><a href="">Autum</a></span>
                  </div>

                  <div class="flex_center_start location">
                    <div class="ui icon button address flex_center" data-tooltip="Address" data-inverted="">
                      <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="flex_center">
                      <p>全家家就是你家你家就是我家 我家不是你家</p>
                    </div>
                  </div>

                </div>

              </div>
            </div>
        <% end %>
        <div class="load_more" id="load_more">
          <button class="ui button my_btn absolute_center">Load more</button>
        </div>
      </div>
  <% end %>
</div>

<%= javascript_include_tag 'main' %>

