<% @orders.each do |order|%>
    <div class="black_border_block mt25_sm mrl5_sm mrl25_md">

      <%= render 'users/purchase/order_list',order:order %>

      <div class="row">
        <div class="col-xs-12">
          <i class="gray_line  mtb25"></i>
        </div>
        <div class="col-sm-6 col-xs-12 tac tan_sm">
          <h4 class="red">Confirmation Number: #<%= order.confirmation_number %></h4>
        </div>

        <% if order.shipping_method == "bulk_buy"%>

            <% show_cancel = true %>
            <!-- 昨天以前的order -->
            <% if order.pick_up_time.localtime.to_date < @datetime_now.to_date %>
              <% show_cancel = false %>

            <!-- 今天的order -->
            <% elsif order.pick_up_time.localtime.to_date == @datetime_now.to_date%>
              <!-- 如果超過了 cut-off time -->
              <% if order.bulk_buy.cut_off_time.localtime.strftime("%H%M%S") < @time_now_to_Num%>
                <% show_cancel = false %>
              <% else %>
                <% show_cancel = true %>
              <%end%>

            <!-- 明天以後的order -->
            <% else %>
              <% show_cancel = true %>
            <% end %>

            <% if show_cancel%>
              <div class="col-sm-6 col-xs-12 tac tar_sm">
                <%= link_to "Cancel this order", cancel_order_user_path(@user,:order_id => order) ,:method => "POST",:class=>"my_btn_reserve mt25 mt0_sm"%>
              </div>
            <%end%>
        <%else%>
            <!-- delivery -->
        <%end%>

        <div class="col-xs-12">
          <i class="gray_line mtb25"></i>
        </div>
        <div class="col-sm-6 col-xs-12 tac tan_sm">
          <h5 class="black">Got the meal?</h5>
        </div>
        <div class="col-sm-6 col-xs-12 tac tar_sm">
          <%= link_to "Yep!", yep_order_user_path(@user,:order_id => order) ,:method => "POST", :class => "my_btn_reserve mr15_sm mt25 mt0_sm db dib_sm mrla"%>
          <a class="user_not_yet_order_btn my_btn_reserve mr15_sm mt25 mt0_sm db dib_sm mrla" data=<%=order.id%>>Not yet!</a>
        </div>
        <div class="col-xs-12">
          <i class="gray_line mtb25"></i>
        </div>
        <%= form_tag(not_yet_order_user_path(@user.id, :order_id => order.id), method: "post") do %>
            <div class="col-sm-6 col-xs-12 tal" style="" id="user_order_not_yet_confirm_<%=order.id%>">
              <h5 class="black">What went wrong?</h5>
              <div class="ui radio checkbox">
                <%= radio_button_tag(:user_not_yet_reason, "My order didn't arrive(15 mins past scheduled time)") %>
                <%= label_tag(:reason_1, "My order didn't arrive(15 mins past scheduled time)") %>
              </div>
              <br>
              <div class="ui radio checkbox">
                <%= radio_button_tag(:user_not_yet_reason, "Wrong order was delivered") %>
                <%= label_tag(:reason_2, "Wrong order was delivered") %>
              </div>

            </div>
            <div class="col-sm-6 col-xs-12 tac tar_sm">
              <%= submit_tag("Submit",:class => "my_btn_reserve mr15_sm mt25 mt0_sm db dib_sm mrla" )%>
            </div>
        <% end %>
      </div>

    </div>
<%end%>
<script type="text/javascript">
  $('.user_not_yet_order_btn').click(function() {
    // confirm data show!
    var order_id = this.attributes["data"].value;
    var confirm_div_id = "#user_order_not_yet_confirm_" + order_id;
    if ($(confirm_div_id)[0].style.display == "none") {
      $(confirm_div_id).show();
    } else {
      $(confirm_div_id).hide();
      $(confirm_div_id).css("display","none");
    };

  });
</script>
