<div class="col-xs-12 banner background_img_setting" style="background-image:url(<%= image_path('tmp/kitchen_1.png') %>); height: 300px;"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 basic_bg_top">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-10 col-xs-offset-1 col-sm-offset-0">
          <div class="square_img border_main_radius mb0" style="background-image: url(<%= image_path('tmp/kitchen.png') %>)"></div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div class="align_two_side_sm">
            <h3 class="title pull-left bold mt15"><%= @restaurant.name%></h3>
            <button class="ui button my_btn pull-right hidden-xs hidden-sm" name="menu_btn">MENU<i class="fa fa-caret-right ml10" aria-hidden="true"></i></button>
          </div>
          <div>
            <div class="show_rated_3">
            </div>
            <span id="comments_count"><%= @restaurant.food_comments_count %></span> <span>reviews</span>
          </div>
          <div class="visible-xs visible-sm menu_btn">
            <button class="ui button my_btn" name="menu_btn">MENU<i class="fa fa-caret-right ml10" aria-hidden="true"></i></button>
          </div>
          <% content_for :top_reviews do %>
              <i class="red_line" name="top_bg_line"></i>
              <div class="align_two_side_sm">
                <h3 class="dib">Summary :</h3>
                <div class="show_rated_3"></div>
              </div>
              <div class="align_two_side_sm">
                <h3 class="dib">Taste :</h3>
                <div class="show_rated_3"></div>
              </div>
              <div class="align_two_side_sm">
                <h3 class="dib">Value :</h3>
                <div class="show_rated_3"></div>
              </div>
              <div class="align_two_side_sm">
                <h3 class="dib">On time pick up/develiery :</h3>
                <div class="show_rated_3"></div>
              </div>
          <% end %>
          <div class="hidden-xs hidden-sm">
            <%= content_for :top_reviews %>
          </div>
        </div>
      </div>
      <div class="row visible-xs visible-sm">
        <div class="col-xs-12">
          <%= content_for :top_reviews %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <%= form_for @comment, url: create_food_comment_restaurant_comments_path(:restaurant_id => @restaurant.id), method: 'post', remote: true do |f| %>
        <div class="col-xs-12 basic_bg">
          <h3 class="title text-center bold mb15">Leave a comment</h3>
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-10 col-xs-offset-1 col-sm-offset-0">
                  <div class="square_img border_main_radius" style="background-image: url(<%= image_path 'tmp/kitchen_2.png' %>"></div>
                </div>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <div>
                    <h3 class="dib">Tag a dish :</h3>
                    <%= f.select :food_id, options_from_collection_for_select(@foods, 'id', 'name'), {}, class:'ui selection dropdown hometaste_dropdown' %>
                  </div>
                  <div class="align_two_side_sm">
                    <h3 class="dib">Taste :</h3>
                    <%= f.hidden_field :taste_score, value: '1' %>
                    <div class="ui star rating"></div>
                  </div>
                  <div class="align_two_side_sm">
                    <h3 class="dib">Value :</h3>
                    <%= f.hidden_field :value_score, value: '1' %>
                    <div class="ui star rating"></div>
                  </div>
                  <div class="align_two_side_sm">
                    <h3 class="dib">On time pick up/delivery :</h3>
                    <%= f.hidden_field :on_time_score, value: '1' %>
                    <div class="ui star rating"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="field">
              <%= f.text_area :comment, placeholder: 'Leave your comment here...', cols: '30', rows: '10', class:'mb0' %>
            </div>
          </div>
          <div class="text-center">
            <%= f.submit :submit, class: 'ui button my_btn mt20' %>
          </div>
        </div>
    <% end %>
  </div>
  <div class="row" id="foods_comments">
    <%= render 'food_comments' %>
  </div>
  <% if @next_page %>
      <div class="load_more">
        <%= link_to 'Load More', restaurant_comments_path(page: @next_page ), remote: true, id: 'load-more' %>
      </div>
  <% end %>

</div>
<script type="text/javascript" charset="utf-8">

  $(document).ready(function(){
    $('.ui.rating').rating({initialRating: 1, maxRating: 5});
    $('.ui.rating').click(function(){
      $(this).siblings('input').val($(this).rating('get rating'))
    })
    $('form').form({
      on: 'blur',
      inline : true,
      fields: {
        food_comment_comment: {
          identifier: 'food_comment_comment',
          rules: [{type   : 'maxLength[255]', prompt : 'Please enter at most 255 characters'}]
        }
      }
    });
  })

</script>