<% orders.each do |order| %>
    <div class="black_border_block mt25_sm mrl5_sm mrl25_md" data-id="<%= order.id %>">
      <%= render 'chefs/sales_five_page/order_list',order:order %>
      <div class="row">
        <%= form_tag yep_or_not_chef_path(:id=>current_user.chef.id), method:'post' do %>
            <div class="col-xs-12">
              <i class="gray_line  mtb25"></i>
            </div>
            <div class="col-xs-12 tac tan_sm ui form db_xs df_sm flex_vertical_center">
              <h3 class="red">Confirmation Number: </h3>
              <h3 class="red dib mt10 mr10">#</h3><%= text_field_tag :'confirmation_number',order.confirmation_number[0..3],style:'width:100px; display:inline-block; border:1px solid #EC1C24;' %>
            </div>
            <div class="col-xs-12">
              <i class="gray_line mtb25"></i>
            </div>
            <div class="col-sm-5 col-xs-12 tac tan_sm">
              <h3 class="black">Order completed?</h3>
            </div>
            <div class="col-sm-7 col-xs-12 tac tar_sm">
              <%= hidden_field_tag :id,order.id %>
              <%= submit_tag 'Yep!',class:'my_btn_reserve mr15_sm mt25 mt0_sm db dib_sm mrla',style:'width: 160px;' %>
              <%= submit_tag 'Not yet!',class:'my_btn_reserve db dib_sm mt25 mt0_sm mrla',style:'width: 160px;' %>
            </div>
        <% end %>
      </div>
    </div>
<% end %>