<div class="row df_sm">
  <div class="col-md-8 col-sm-7 col-xs-12">
    <div class="row">
      <div class="col-xs-12 mt10 flex_vertical_center">
        <div class="dib border_sub_radius border_black background_img_setting mla_xs mln_sm" style="background-image: url(<%= image_path order.restaurant.main_photo %>); width: 40px; height: 40px;"></div>
        <h3 class="bold dib ml10 mra_xs mra_sm"><%= order.restaurant.name %></h3>
      </div>

      <% 3.times do %>
          <% order.order_food_ships.each do |ship| %>
              <div class="col-xs-12 mt30">
                <%= render 'chefs/sales_five_page/product_list', :ship => ship %>
              </div>
          <% end %>
      <% end %>

    </div>
  </div>

  <div class="col-md-4 col-sm-5 col-xs-12">
    <div class="row height_fluid df">
      <div class="col-xs-12 pt20 pt60_sm df flex-direction_column height_fluid">
        <i class="gray_line visible-xs"></i>
        <div class="df">
          <div class="pr15 mla_xs mln_sm">
            <i class="fa fa-map-marker fa-2x red mt15"></i>
          </div>
          <div class="pt5 mra_xs mra_sm">
            <h6 style="line-height: 24px;"><%= order.shipping_place %></h6>
          </div>
        </div>
        <div class="df mt15">
          <div class="pr15 mla_xs mln_sm">
            <i class="fa fa-clock-o red fa-2x mt10"></i>
          </div>
          <div class="pt5 mra_xs mra_sm">
            <h6><%= order.pick_up_time.localtime.strftime('%G/%I/%H %R') %></h6>
          </div>
        </div>
        <i class="gray_line visible-xs"></i>
        <div class="mta_xs">
          <h3 class="bold tac tal_sm mb0_sm">Total Payment : $<%= order.amount %></h3>
        </div>
      </div>
    </div>
  </div>
</div>