<%= form_for setup_chef(@chef), :url => chef_path(@chef), :method => "patch" do |f| %>

    <div name="kitchen_photo">
      <%= f.fields_for :restaurant do |r| %>
          <div class="img_upload">
            <%= r.label :main_photo ,style:"background-image:url(#{@chef.restaurant.main_photo.url if @chef.restaurant.main_photo.exists?})" do %>
                <i class="photo_icon"></i>
                <h4>Upload a kitchen photo</h4>
            <% end %>
            <%= r.file_field :main_photo ,class:'hidden'%>
          </div>
      <% end %>
    </div>

    <div class="container">
      <section class="row">
        <!--- 審核過後 認證跟送審時最上傳的三張餐點圖片可以抽掉- 送審時最上傳的三張餐點圖片   是只有送省的時候用-->
        <div class="col-xs-12 basic_bg_top ui form prl0 prl15_sm">

          <%= render 'form' , f:f %>

          <div class="col-xs-12 tac mt15 mt0_sm" id="chef-submit-div">
            <bottum id="chef-submit-check-btn" class="my_btn">SUBMIT</bottum>
            <%= f.submit "SUBMIT",:class=>"my_btn hidden", :id=>"chef-submit-btn"%>
          </div>

        </div>

      </section>
    </div>
<% end %>

<script>

  $("#chef-submit-check-btn").click(function(){
    var check_submit = true;

    if ($("input#chef_user_attributes_password").val()) {
      check_submit = check_submit & check_chef_password();
    }

    if (!<%= @chef.restaurant.is_approved %>) {
      check_submit = check_submit & check_certificated();
    };

    if (check_submit) {
      $('#chef-submit-btn').click();
    };
  });

  var check_chef_password = function(){
    var password = $("input#chef_user_attributes_password").val();
    var confirm_password = $("input#confirm_password").val();
    if (password && confirm_password && password == confirm_password){
      return true;
    } else {
      alert("Please check password! \n If you don't wanna change password, please let it be blank. ")
      return false;
    };
  }

  var check_certificated = function(){
    var checked = $("#certificated_check").prop('checked');
    if (checked) {
      return true;
    } else {
      alert('Please check certified!')
      return false;
    }
  }

  if (<%= params[:action]== 'new'%>) {
    $('#bulk-buy-form').hide();
    $('#delivery-form').hide();
  }

  $('#both_bulk_buy_delivery').click(function(){
    var checked_both = $('#both_bulk_buy_delivery').prop("checked");
    if (checked_both) {
      $('#bulk_buy_only').prop("checked",true);
      $('#delivery_only').prop("checked",true);
      $('#bulk-buy-form').show();
      $('#delivery-form').show();
    }else{
      $('#bulk_buy_only').prop("checked",false);
      $('#delivery_only').prop("checked",false);
      $('#bulk-buy-form').hide();
      $('#delivery-form').hide();
    }
  });

  $('#bulk_buy_only').change(function(){
    var checked = $('#bulk_buy_only').prop("checked");
    if (checked) {
      $('#bulk-buy-form').show();
    } else {
      $('#bulk-buy-form').hide();
    }
  });

  $('#delivery_only').change(function(){
    var checked = $('#delivery_only').prop("checked");
    if (checked) {
      $('#delivery-form').show();
    } else {
      $('#delivery-form').hide();
    }
  });


</script>




