<div class="container">
  <section class="row mt40">
    <div class="col-xs-6 pl0">
      <div class="basic_bg_bottom tac mb0 cursor_pointer red" id="one_tab">
        <h2 class="m0">Main Menu</h2>
      </div>
    </div>

    <div class="col-xs-6 pr0">
      <div class=" basic_bg_bottom tac mb0 background_black white cursor_pointer" id="two_tab">
        <h2 class="m0">Big Bun</h2>
      </div>
    </div>

    <div class="col-xs-12 basic_bg_top prl0 prl20_sm">
      <div class="one_tab ">
        <div class="col-xs-12">
          <%= link_to '+ Add dish', new_chef_food_path(@chef), class:'fluid my_btn mb30' %>
        </div>
        <% @foods.each do |food|%>
            <div class="col-xs-12">
              <div class="black_border_block mrl0_sm prl30">
                <div class="row">
                  <div class="col-xs-12 col-md-8 col-md-offset-2 mb15">
                    <h2 class="ml15 mt0 bold tac tal_sm mtb20" style="font-size: 24px;"><%= food.name %></h2>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2" style="height: 220px;">
                    <% if food.food_photos.size > 0 %>
                        <div class='css_carousel'>
                          <div class='wrap2'>
                            <% food.food_photos.each_with_index do |food_photo,i| %>
                                <div class='group'>
                                  <input type='radio' name='test' id='<%= i %>' value='<%= i %>' <%= 'checked' if i ==0 %>>
                                  <label for='<%= i-1 < 0 ? food.food_photos.size - 1 : i-1 %>' class='previous'></label>
                                  <label for='<%= i+1 > food.food_photos.size - 1 ? 0 : i+1 %>' class='next'></label>
                                  <div class='content'>
                                    <img style="background-image:url(<%= food_photo.photo %>);"
                                         class="background_img_setting border_main_radius">
                                  </div>
                                </div>
                            <% end %>
                          </div>
                        </div>
                    <% else %>
                        <%= image_tag('empty_img.png') %>
                    <% end %>
                  </div>
                  <div class="flex-direction_column df col-xs-12 col-sm-6 mt20 mt0_sm" style="height: 220px;">

                    <h3>
                      <span class="bold mr25">Price:</span>
                      <span>$<%= food.price%></span>
                    </h3>
                    <h3>
                      <span class="bold mr25">Qty:</span>
                      <span><%= food.unit%> <%=food.unit_name%></span>
                    </h3>

                    <div class="mta_xs flex_space_between">
                      <% if food.is_public %>
                          <%= link_to chef_food_path(@chef.id, food.id, :is_public => false), :method => :patch do %>
                              <i class="square_icon border_red fa fa-lock" aria-hidden="true"></i>
                          <% end %>
                      <% else %>
                          <%= link_to chef_food_path(@chef.id, food.id, :is_public => true), :method => :patch do %>
                              <i class="square_icon border_red fa fa-unlock" aria-hidden="true"></i>
                          <% end %>
                      <% end %>

                      <!-- share -->
                      <%= link_to "" do %>
                          <i class="square_icon border_red fa fa-share-alt" aria-hidden="true"></i>
                      <% end %>

                      <!-- edit -->
                      <%= link_to edit_chef_food_path(@chef.id,food.id) do %>
                          <i class="square_icon border_red fa fa-pencil" aria-hidden="true"></i>
                      <% end %>

                      <!-- delete -->
                      <%= link_to chef_food_path(@chef.id,food.id), :method => :delete do %>
                          <i class="square_icon border_red fa fa-trash" aria-hidden="true"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>

      <div class="two_tab hidden">

        <div class="col-xs-12">
          <%= link_to '+ Add big buns', new_chef_big_bun_path(@chef), class:'fluid my_btn mb30' %>
        </div>

        <% @big_buns.each do |big_bun|%>
            <div class="col-xs-12">
              <div class="black_border_block mrl0_sm prl30">
                <div class="row">
                  <div class="col-xs-12 col-md-8 col-md-offset-2 mb15">
                    <h2 class="ml15 mt0 bold tac tal_sm mtb20" style="font-size: 24px;">Big bun#<%= big_bun.id%> : <%=big_bun.style%></h2>
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2" style="height: 220px;">
                    <% if big_bun.big_bun_photo%>
                        <div style="background-image:url(<%= image_path big_bun.big_bun_photo.photo(:original) %>); height: 100%;" class="background_img_setting border_main_radius"></div>
                    <% else %>
                        <div style="background-image:url(<%= image_path 'empty_img.png' %>); height: 100%;" class="background_img_setting border_main_radius"></div>
                    <% end %>
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-4 flex-direction_column df mt20 mt0_sm" style="height: 220px;">
                    <h3>
                      <span class="bold mr25">start at:</span>
                      <span><%= big_bun.start_datetime.localtime.strftime('%Y/%m/%d %H:%M') %></span>
                    </h3>
                    <h3>
                      <span class="bold mr25">stop at:</span>
                      <span><%= big_bun.stop_datetime.localtime.strftime('%Y/%m/%d %H:%M') %></span>
                    </h3>
                    <h3>
                      <span class="bold mr25">Qty:</span>
                      <span><%= big_bun.unit %></span>
                    </h3>
                    <div class="mta_xs flex_space_between">

                      <% if big_bun.is_public %>
                          <%= link_to chef_big_bun_path(@chef.id, big_bun.id, :is_public => false), :method => :patch do %>
                              <i class="square_icon border_red fa fa-lock" aria-hidden="true"></i>
                          <% end %>
                      <% else %>
                          <%= link_to chef_big_bun_path(@chef.id, big_bun.id, :is_public => true), :method => :patch do %>
                              <i class="square_icon border_red fa fa-unlock" aria-hidden="true"></i>
                          <% end %>
                      <% end %>

                      <!-- share -->
                      <%= link_to "" do %>
                          <i class="square_icon border_red fa fa-share-alt" aria-hidden="true"></i>
                      <% end %>

                      <!-- edit -->
                      <%= link_to edit_chef_big_bun_path(@chef.id,big_bun.id) do %>
                          <i class="square_icon border_red fa fa-pencil" aria-hidden="true"></i>
                      <% end %>

                      <!-- delete -->
                      <%= link_to chef_big_bun_path(@chef.id,big_bun.id), :method => :delete do %>
                          <i class="square_icon border_red fa fa-trash" aria-hidden="true"></i>
                      <% end %>
                    </div>

                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </section>
</div>


<script type="text/javascript" charset="utf-8">
  $(document).on('click','#one_tab.white,#two_tab.white',function(){
    $('#one_tab,#two_tab').toggleClass('background_black').toggleClass('white').toggleClass('red');
    $('.one_tab,.two_tab').toggleClass('hidden');
  });
</script>