<%= form_for setup_chef(@chef), :url => chef_path(@chef), :method => "patch" do |f| %>

    <%= render 'kitchen_photo',f:f ,pen_click:'pen_click' %>

    <div class="container">
      <section class="row">
        <div class="col-xs-12 basic_bg_top">
          <div class="row" name="kitchen_banner">
            <div class="col-xs-12 df_sm mb15 tac tal_sm">
              <%= render 'chef_photo' ,f:f ,pen_click:'pen_click' %>
              <h1 class="bold m0 ml20_sm ml40_md ml60_lg tal_sm"><%= @chef.restaurant.name%></h1>
            </div>
            <%= render 'chef_banner' %>
          </div>
        </div>
      </section>
    </div>
<% end %>

<div class="container">
  <section class="row">
    <section class="col-xs-12 basic_bg prl15_sm prl30_md">
      <div class="row">

        <div class="col-xs-12 two_btn prl35 mb25 mb0_sm">
          <div class="message_search_wrap">
            <input type="text" class="border_black fluid not_focus_outline pr20 pl70" style="font-size: 18px; border-radius: 30px; height: 50px;">
          </div>
        </div>


        <% current_user.recieved_conversations.each do |conversation|%>

          <div class="col-xs-12 prl15_sm" id="my_purchase_content">
            <div class="black_border_block mt25_sm mrl5_sm mrl25_md pb15">
              <div class="row df_sm">
                <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-0 col-md-2">
                  <div class="background_img_setting border_main_radius mt15 mtn_sm" style="background-image: url(<%= image_path 'tmp/product.png' %>); padding-top: 100%;"></div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-10 vertical_space_around tac tan_sm">
                  <h3 class="bold mt30 mtn_sm"><%= conversation.sender.name%></h3>
                  <div style="font-size: 18px;" class="mt10">
                    <% if conversation.messages.last.present?%>
                      <%= conversation.messages.last.body %>
                    <%end%>
                  </div>
                  <div style="font-size: 16px;" class="mtb20 mtb10_sm flex_space_between flex_vertical_center flex_wrap">
                    <span style="color: #9B9B9B;" class="db mrla_xs ml0_sm">
                      <% if conversation.messages.last.present?%>
                        <%= conversation.messages.last.updated_at.localtime.strftime("%Y-%m-%d %H:%M:%S")%>
                      <%end%>
                    </span>
                    <div class="clearfix visible-xs" style="flex-basis: 100%;"></div>
                    <button class="my_btn ml100_md ml50_sm mrla_xs mrn_sm mt20 mt0_sm" name="message_button"><%= link_to "Message", get_conversation_messages_chef_path(:conversation => conversation.id), :remote => true%></button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <%end%>
      </div>
    </section>
  </section>
</div>


<div class="message_modal">
</div>