<div class="container">
  <section class="row">
    <div class="prl0 prl15_sm col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="basic_bg border_red border_none_radius mt30">
        <h4 class="tac">Notice</h4>
        <p>This is some info about becoming a chef with Hometatse. Becoming a chef with Hometaste, this is some info about becoming a chef becoming a chef this is some info about becoming a chef with Hometatse. This is some info about becoming a chef with Hometatse. Becoming a chef with Hometaste, this is some info about becoming a chef becoming a chef.</p>
        <p>Have fun cooking!</p>
      </div>
    </div>
  </section>
</div>

<%= form_for setup_chef(@chef), :url => chefs_path do |f| %>

    <div name="kitchen_photo">
      <%= f.fields_for :restaurant do |r| %>
          <div class="img_upload">
            <%= r.label :main_photo ,style:"background-image:url(#{@chef.restaurant.main_photo.url if @chef.restaurant.main_photo.exists?})" do %>
                <i class="photo_icon"></i>
                <h4>Upload a kitchen photo</h4>
            <% end %>
            <%= r.file_field :main_photo ,class:'hidden'%>
          </div>
      <% end %>
    </div>

    <div class="container">
      <section class="row">
        <!--- 審核過後 認證跟送審時最上傳的三張餐點圖片可以抽掉- 送審時最上傳的三張餐點圖片   是只有送省的時候用-->
        <div class="col-xs-12 basic_bg_top ui form">
          <div class="row">
            <%= render 'form' , f:f %>

            <% unless current_user == @user && @chef.restaurant.is_approved %>
                <div class="col-xs-12">
                  <div class="black_border_block">
                    <div class="row">

                      <div class="col-xs-12"><h3 class="bold ml15">Please upload three dishes that was make by you or your team</h3></div>

                      <%= f.fields_for :restaurant do |r| %>
                          <%= r.fields_for :restaurant_dish_photos, @chef.restaurant.restaurant_dish_photos.each do |photo| %>
                              <div class="col-xs-12 col-sm-6 col-md-4 mt30 col-md-offset-1 col-lg-4 col-lg-offset-0" name="dish_photo">
                                <h4 class="mb15 mb0_md">Dish<%= photo.index+1 %></h4>
                                <div class="img_upload">
                                  <%= photo.label :photo ,style:"background-image:url(#{@chef.restaurant.restaurant_dish_photos[photo.index].url if @chef.restaurant.restaurant_dish_photos[photo.index].id?})" do %>
                                      <i class="photo_icon"></i>
                                      <h4>Upload a dish photo</h4>
                                  <% end %>
                                  <%= photo.file_field :photo ,class:'hidden'%>
                                  <%= photo.text_area :comment,class:'mt10', :placeholder => "Dish photo comment" %>
                                </div>
                              </div>

                          <% end %>
                      <% end %>

                    </div>
                  </div>
                </div>
            <% end %>

            <div class="col-xs-12 tac mt15 mt0_sm" id="chef-submit-div">
              <bottum id="chef-submit-check-btn" class="my_btn">SUBMIT</bottum>
              <%= f.submit "SUBMIT",:class=>"my_btn hidden", :id=>"chef-submit-btn"%>
            </div>

          </div>
        </div>

      </section>
    </div>
<% end %>

<script>

  $('#both_bulk_buy_delivery').click(function(){
    var checked_both = $('#both_bulk_buy_delivery').prop("checked");
    if (checked_both) {
      $('#bulk_buy_only').prop("checked",true);
      $('#delivery_only').prop("checked",true);
      $('#bulk-buy-form').show();
      $('#delivery-form').show();
    }else{
      $('#bulk_buy_only').prop("checked",false);
      $('#delivery_only').prop("checked",false);
      $('#bulk-buy-form').hide();
      $('#delivery-form').hide();
    }
  });

  $('#bulk_buy_only').change(function(){
    var checked = $('#bulk_buy_only').prop("checked");
    if (checked) {
      $('#bulk-buy-form').show();
    } else {
      $('#bulk-buy-form').hide();
    }
  });

  $('#delivery_only').change(function(){
    var checked = $('#delivery_only').prop("checked");
    if (checked) {
      $('#delivery-form').show();
    } else {
      $('#delivery-form').hide();
    }
  });


</script>




