<%= form_for setup_chef(@chef), :url => chef_path(@chef), :method => "patch" do |f| %>

    <div name="kitchen_photo">
      <%= link_to edit_chef_path(@chef) do %>
          <div class="img_upload pen_click">
            <label style="background-image:url(<%= @chef.restaurant.main_photo.url if @chef.restaurant.main_photo.exists? %>); width:100%; border-radius: 0">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </label>
          </div>
      <% end %>
    </div>

    <div class="container">
      <section class="row">
        <div class="col-xs-12 basic_bg_top">
          <div class="row" name="kitchen_banner">
            <div class="col-xs-12 df_sm mb15 tac tal_sm">
              <div class="img_upload ml30_sm p10 dib background_white border_main_radius" name="profile">
                <label style="background-image:url(<%= @chef.user.user_photo.photo.url if @chef.user.user_photo.try(:'photo.file?') %>); cursor: default;"></label>
              </div>
              <h1 class="bold m0 ml20_sm ml40_md ml60_lg tal_sm"><%= @chef.restaurant.name%></h1>
            </div>
            <%= render 'chef_banner' %>
          </div>
        </div>
      </section>
    </div>
<% end %>

<div class="container">
  <section class="row">
    <div class="col-xs-12 basic_bg prl15_sm prl30_md">
      <div class="row">
        <div class="col-xs-12 six_btn prl35_md mb25 mb0_sm" style="-ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap">
          <!--直接都用同個action 用params[:type]去撈資料來換掉 id=chef_rating_content內容=-->
          <%= link_to  rating_chef_path(@chef, type: 6), class:'my_black_btn border_none_radius' ,remote:true do %>
              All (<span id="all_rating"><%=@star_all_num%></span>)
          <% end %>
          <%= link_to  rating_chef_path(@chef, type: 5), class:'my_black_btn_reserve border_none_radius' ,remote:true do %>
              5 Stars (<span id="five_rating"><%=@star_5_num%></span>)
          <% end %>
          <%= link_to  rating_chef_path(@chef, type:4), class:'my_black_btn_reserve border_none_radius' ,remote:true do %>
              4 Stars (<span id="four_rating"><%=@star_4_num%></span>)
          <% end %>
          <div class="visible-xs mt5" style="flex-basis: 100%;"></div>
          <%= link_to  rating_chef_path(@chef, type:3), class:'my_black_btn_reserve border_none_radius' ,remote:true do %>
              3 Stars (<span id="three_rating"><%=@star_3_num%></span>)
          <% end %>
          <%= link_to  rating_chef_path(@chef, type:2), class:'my_black_btn_reserve border_none_radius' ,remote:true do %>
              2 Stars (<span id="two_rating"><%=@star_2_num%></span>)
          <% end %>
          <%= link_to  rating_chef_path(@chef, type:1), class:'my_black_btn_reserve border_none_radius' ,remote:true do %>
              1 Stars (<span id="one_rating"><%=@star_1_num%></span>)
          <% end %>
        </div>

        <div class="col-xs-12 prl15_sm" id="chef_rating_content">
          <%= render 'food_rating' %>
        </div>
        <div class="col-xs-12">
          <div class="tac pt30">
            <% if @next_page %>
                <%= link_to "Load More", rating_chef_path(@chef, type: 6,:page => @next_page ), :remote => true, :class => "my_btn", :id => "load-more" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>



<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $(document).on('click','.my_black_btn_reserve',function(){
      $(this).siblings('.my_black_btn').removeClass('my_black_btn').addClass('my_black_btn_reserve');
      $(this).removeClass('my_black_btn_reserve').addClass('my_black_btn');
    })
    $(document).on('click','.comment_reply_btn',function(){
      var parent = $(this).parents('.black_border_block')
      $(this).hide()
      if (parent.find('.comment_reply_textarea:hidden')){
        parent.find('.comment_reply_textarea').show()
        parent.find('.comment_reply').hide()
      }
    })
  })
</script>