<div class="container chef-container center">
	<div class="row col-md-offset-1">
		<h3>
			<%=link_to "HOME", root_path%><span> > <%=params[:action]%></span>
		</h3>
	</div>
	<div class="row">
		<%= form_for setup_chef(@chef), :url => chef_path(@chef) do |f| %>

			<%= render :partial => 'form', :locals => { :f => f } %>

			<% if !@chef.restaurant.is_approved%>
				<div class="row form_control col-md-12" id="chef-approve-btn">
					<%= link_to "APPROVE", approve_chef_path(@chef), :class=>"btn btn-success btn-lg"%>
				</div>
			<%end%>

		<% end %>
	</div>
</div>


<script>

</script>




