<div class="black_border_block mt25_sm mrl5_sm mrl25_md">
  <% @orders.each do |order|%>
    <div class="row">
      <h3 class="bold ml15"><%= order.restaurant.name %></h3>

      <% order.order_food_ships.each do |ship| %>
          <div class="col-xs-12 mt30">
            <%= render 'product_list', :ship => ship %>
          </div>
      <% end %>

      <div class="col-xs-12 mt20">
        <h4 class="tar bold">Total Payment : $<%= order.amount %></h4>
      </div>
      <div class="col-xs-12">
        <i class="gray_line  mtb25"></i>
      </div>
      <div class="col-sm-6 col-xs-12 tac tan_sm">
        <h4 class="red">Confirmation Number: #<%= order.confirmation_number %></h4>
      </div>
      <div class="col-sm-6 col-xs-12 tac tar_sm">
        <%= link_to "Cancel this order", cancel_order_user_path(@user,:order_id => order) ,:method => "POST",:class=>"my_btn_reserve mt25 mt0_sm"%>
      </div>
      <div class="col-xs-12">
        <i class="gray_line mtb25"></i>
      </div>
      <div class="col-sm-6 col-xs-12 tac tan_sm">
        <h5 class="black">Got the meal?</h5>
      </div>
      <div class="col-sm-6 col-xs-12 tac tar_sm">
        <a class="my_btn_reserve mr15_sm mt25 mt0_sm db dib_sm mrla">Yep!</a>
        <a class="my_btn_reserve db dib_sm mt25 mt0_sm mrla">Not yet!</a>
      </div>
    </div>
  <%end%>
</div>
