<div class="df my_purchase_lists">
  <div class="col-md-3 col-sm-3  col-xs-5 background_img_setting" style="background-image: url(<%= image_path 'tmp/kitchen.png' %>);">
  </div>
  <div class="col-md-6 col-sm-6 col-xs-7 vertical_space_around">
    <h4 class="mtb0 ml20 bold"><%= ship.food.name %></h4>
    <h4 class="ml20 mt40 mt0_sm"><span>$<%= ship.food.price%></span> <span class="visible-xs-inline flr">Qty: <%= ship.quantity%></span></h4>
    <h4 class="mtb0 ml20 hidden-xs">Qty: <%= ship.quantity%></h4>

  </div>
  <div class="col-md-3 col-sm-3 col-sm-5 hidden-xs">
    <div class="df">
      <div class="pr15">
        <i class="fa fa-map-marker fa-2x red"></i>
      </div>
      <div class="pt5">
        <p><%= ship.order.shipping_place%></p>
      </div>
    </div>
    <div class="df mt15">
      <div class="pr15">
        <i class="fa fa-clock-o red fa-2x"></i>
      </div>
      <div class="pt5">
        <p><%= ship.order.pick_up_time%></p>
      </div>
    </div>
  </div>
</div>
