<div class="user_img mb40">
  <div class="square_img border_main_radius user_img_header" style="background-image: url(<%= image_path('tmp/profile_pic.png') %>);"></div>
</div>
<h1 class="mb40 tac bold">John Smith</h1>
<div class="four_btn">
  <a href="<%= paid_user_path %>" class="my_btn_reserve border_none_radius">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    <p>My Purchase</p>
  </a>
  <a href="<%= my_review_user_path %>" class="my_btn_reserve border_none_radius">
    <i class="fa fa-star" aria-hidden="true"></i>
    <p>My Review</p>
  </a>
  <a href="<%= my_like_user_path %>" class="my_btn_reserve border_none_radius">
    <i class="fa fa-heart" aria-hidden="true"></i>
    <p>My Like</p>
  </a>
  <a href="<%= my_message_user_path %>" class="my_btn_reserve border_none_radius">
    <i class="fa fa-comment" aria-hidden="true"></i>
    <p>My Message</p>
  </a>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('a.my_btn_reserve[href*="' + location.pathname.split('/')[3] + '"]').toggleClass('my_btn_reserve').toggleClass('my_btn');
  })
</script>