<div class="container">
  <div class="row">
    <section class="col-xs-12 basic_bg_top prl30_sm">
      <div class="row">
        <%= render 'user_banner' %>
      </div>
    </section>
    <section class="col-xs-12 basic_bg prl15_sm prl30_md">
      <div class="row">

        <div class="col-xs-12 two_btn prl35_md mb25 mb0_sm">
          <button href="<%= kitchen_user_path %>" class="my_black_btn border_none_radius like_button" style="height: 50px;">Kitchen</button>
          <button href="<%= food_user_path %>" class="my_black_btn_reserve border_none_radius like_button" style="height: 50px;">Food</button>
        </div>

        <div class="col-xs-12 prl15_sm" id="my_purchase_content">
          <div class="like_page">
          <%= render 'users/like/kitchen' %>
          </div>
          <div class="like_page hidden">
          <%= render 'users/like/food' %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $(document).on('click','.my_black_btn_reserve',function(){
      $(this).siblings('.my_black_btn').removeClass('my_black_btn').addClass('my_black_btn_reserve');
      $(this).removeClass('my_black_btn_reserve').addClass('my_black_btn');
    })
    $('.like_button').click(function(){
      $('.like_page').toggleClass('hidden')
    })
  })
</script>