<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div id="custom-search-input">
          <div class="input-group col-md-12">
            <input type="text" class="form-control input-lg" placeholder="Search" />
            <span class="input-group-btn">
              <button class="btn btn-info btn-lg" type="button">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <h1>Restaurants List</h1>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Restaurant ID</th>
              <th>Restaurant Name</th>
              <th>Created_on</th>
              <th>Approved</th>
              <th>Boss ID</th>
              <th>Boss Name</th>
              <th>Boss Email</th>
              <th>Orders Count</th>
              <th>Orders View</th>
              <th>Total Acount</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% @restaurants.each do |r|%>
              <tr data-toggle="collapse" data-target="#data<%=r.id%>" class="accordion-toggle">
                  <td>
                    <%= link_to r.id, admin_restaurant_path(r)%>
                  </td>
                  <td>
                    <%= link_to r.name, admin_restaurant_path(r)%>
                  </td>
                  <td><%=r.created_at%></td>
                  <td style="text-align:center;">
                    <% if r.is_approved%>
                      <div style="color:white; background-color: green; border-radius: 5px; "><%= r.is_approved %></div>
                    <% else %>
                      <div ><%= r.is_approved %></div>
                    <% end %>
                  </td>
                  <td><%=r.user.id%></td>
                  <td><%=r.user.name%></td>
                  <td><%=r.user.email%></td>
                  <td>6</td>
                  <td>
                    <div class="btn btn-success">
                      check
                    </div>
                  </td>
                  <td>$9999</td>
                  <td style="text-align:center;">
                    <% if r.is_live%>
                      <div></div>
                    <% else %>
                      <div style="color:white; background-color: red; border-radius: 5px; ">Delete</div>
                    <% end %>
                  </td>
              </tr>
              <tr >
                <td colspan="6" class="hiddenRow">
                  <div class="accordian-body collapse" id="data<%=r.id%>">
                    <div class="container-fluid">
                      <div class="row">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Order Date</th>
                              <th>Order ID</th>
                              <th>Content</th>
                              <th>Type</th>
                              <th>Place</th>
                              <th>Total Amount</th>
                              <th>Order Status</th>
                            </tr>
                          </thead>
                          <!-- TODO: Orders.each -->
                          <tbody>
                            <tr data-toggle="collapse" data-target="#data1" class="accordion-toggle">
                              <td>2016/12/17</td>
                              <td>#001</td>
                              <td>Hambueger/Steak</td>
                              <td>delivery</td>
                              <td>white house</td>
                              <td>$3000</td>
                              <td>pending</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>