<div class="col-md-12 alert_message hidden">
  <div class="row content">
    <div class = "red alert-success" id="alert_notice">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><p></p>
    </div>
  </div>
</div>


<%= form_for @order, url: new_restaurant_order_path(restaurant_id: params[:restaurant_id]) do |f| %>
    <div class="container ui form">
      <section class="row">
        <div class="col-xs-12 basic_bg_top" style="z-index: 10">
          <h1 class="bold tac mb50">Order Information</h1>
          <div class="row reverse_xs reverse_back_md tac tan_sm">

            <div class="col-xs-12" style="z-index: 11;">
              <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-offset-0 col-md-3 col-lg-2 col-lg-offset-2">
                <%= f.label :shipping_method,'Order Type' %>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-3 col-lg-2 mb20_sm">
                <%= f.select :shipping_method, options_for_select( ['Bulk buy','Delivery' ] ),{},class:'ui dropdown fluid',id:'order_shipping_dropdown' %>
              </div>
            </div>

            <div class="col-xs-12" style="z-index: 10">
              <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-offset-0 col-md-3 col-lg-2 col-lg-offset-2 mb20_sm mt20 mt0_sm">
                <%= f.label :pick_up_time,'Pick up Time' %>
              </div>
              <div class="col-xs-10 col-sm-5 col-md-3 col-lg-2">
                <%= f.select :pick_up_time, options_for_select([*Date.current].to_a.map{ |x| x.strftime('%m-%d-%Y') }), {}, class:'ui disabled dropdown' %>
              </div>
              <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </div>
              <div class="col-xs-10 col-sm-5 col-sm-offset-4 col-md-offset-0 col-lg-3 col-md-5 mt20 mt0_sm">
                <%= f.select :pick_up_time, options_for_select([[Time.current.strftime('%H:%M')]]), {}, class:'ui dropdown', id:'pick_time_dropdown' %>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-offset-0 col-md-1 col-lg-1 col-lg-offset-2 mt20 mt0_sm">
                <%= f.label :shipping_place,'Location' %>
              </div>

              <div class="col-xs-12 col-sm-7 col-md-5 col-lg-6 col-lg-offset-1 mb20_sm">
                <%= f.text_field :shipping_place,placeholder:'555 Montgomery st. Suite 501, San Francisco, CA, 94111' %>
              </div>
            </div>

          </div>
        </div>
      </section>

      <section class="row">
        <div class="col-xs-12 basic_bg">
          <div class="row">
            <div class="col-xs-12">
              <h1 class="bold tac">Summary</h1>
              <i class="gray_line mtb15"></i>
            </div>
            <div class="col-xs-12">
              <div class="product_list df_sm ptb15 hidden">
                <%= render 'product_lists' %>
              </div>
              <div class="bigbun_list df_sm ptb15">
                <%= render 'bigbun_list',f:f %>
              </div>
            </div>
            <div class="col-xs-12">
              <i class="gray_line"></i>

              <div class="align_two_side">
                <h2>Subtotal</h2>
                <h2>$ <span name="subtotal">0</span></h2>
              </div>
              <div class="align_two_side">
                <h2>Tax</h2>
                <h2>$ <span name="tax">0</span></h2>
              </div>
              <i class="gray_line mtb15"></i>
              <div class="align_two_side">
                <h2>Total</h2>
                <h2>$ <span name="alltotal">0</span></h2>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="row">
        <% if current_user %>
            <button class="ui button my_btn" name="reach_order">
              <i class="share_icon_white"></i> Help me reach my order!
            </button>
        <% else %>
            <button class="ui button my_btn" name="reach_order">
              <i class="share_icon_white"></i> Help me reach my order!
            </button>
        <% end %>
      </div>
    </div>

    <div class="add_to_cart">
      <h3 class="dib"><i class="cart_icon_white"></i>$<span name="cart_total_price">0</span></h3>
      <% if current_user %>
          <%= f.submit :NEXT ,style:'height:61px' %>
      <% else %>
          <button name="reach_order" id="need_to_login">NEXT</button>
      <% end %>
    </div>

<% end %>



<style>
  .footer,.back_to_top{
    display: none !important;
  }
  body{
    padding-bottom: 80px;
  }
</style>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){

    $('#need_to_login').click(function(e){
      e.preventDefault()
      $('#auth_link_modal').modal('show');
    });


    var order_shipping_place = $('#order_shipping_place');
    var order_shipping_dropdown = $('#order_shipping_dropdown');
    var pick_time_dropdown = $('#pick_time_dropdown');

    function order_type_is_Delivery() {
      return order_shipping_dropdown.dropdown('get value')[0] === 'Delivery'
    }

    function check_order_type(){
      if (order_type_is_Delivery()){
        order_shipping_place.prop('readonly', false);
      }else{
        order_shipping_place.prop('readonly', true);
        order_shipping_place.val('')
      }
    }

    check_order_type();
    order_shipping_dropdown.change(function(){
      check_order_type();
    });

    pick_time_dropdown.change(function(){
      if (!order_type_is_Delivery()){
        $.ajax({
          url: '/api/v1/check_pickup_time',
          dataType: "json",
          type: 'GET',
          data: {
            text: location_val,
            restaurant_id: get_restaurant_id()
          },
          complete:function(data){
            $('.alert_message').removeClass('hidden')
            $('#alert_notice').html($.parseJSON(data.responseText).message)
          }
        })
      }
    });



    var delayTimer;
    order_shipping_place.keyup(function(){
      if (order_type_is_Delivery()){
        var location_val = order_shipping_place.val();
        clearTimeout(delayTimer);
        delayTimer = setTimeout(function() {
          $.ajax({
            url: '/api/v1/check_delivery_location',
            dataType: "json",
            type: 'GET',
            data: {
              text: location_val,
              restaurant_id: get_restaurant_id()
            },
            complete:function(data){
              $('.alert_message').removeClass('hidden')
              $('#alert_notice p').html($.parseJSON(data.responseText).message)
            }
          })
        }, 1000);
      }
    });
    function get_restaurant_id(){
      var restaurant_id;
      Object.keys( $.parseJSON($.cookie('cart_list')) ).forEach(function(key){
        if (key.indexOf('restaurant') !== -1){
          restaurant_id = +key.replace('restaurant_','')
        }
      })
      return restaurant_id
    }
  })
</script>
