<div class="row container chef-sub-container center" id="chef-add-dish-container">

	<!-- style -->
	<div class="form_control col-md-12">
    <%= f.label :style, "Style" %> <br>
    <%= f.text_field :style %>
  </div>

	<div class="clearfix"></div>

  <!-- unit -->
  <div class="form_control col-md-4 underline-block">
    <%= f.label :unit, "Total Unit" %> <br>
    <div class="col-md-6"><%= f.number_field :unit, :class=>"number-block" %></div>
    <div class="col-md-6">pieces</div>
  </div>

  <div class="clearfix"></div>

	<!-- start_datetime -->
	<div class="form_control col-md-6">
    <%= f.label :start_datetime, "start_datetime" %> <br>
    <%= f.datetime_field :start_datetime, value: f.object.start_datetime.localtime.strftime("%Y-%m-%dT%H:%M:%S") %>
  </div>

	<div class="clearfix"></div>

	<!-- stop_datetime -->
	<div class="form_control col-md-6">
    <%= f.label :stop_datetime, "stop_datetime" %> <br>
    <%= f.datetime_field :stop_datetime, value: f.object.stop_datetime.localtime.strftime("%Y-%m-%dT%H:%M:%S") %>
  </div>

	<div class="clearfix"></div>

	<!-- stop_datetime -->
	<div class="form_control col-md-6">
    <%= f.label :prepare_time, "prepare_time(H:M)" %> <br>
    <%= f.time_select :prepare_time, ampm: false, minute_step: 30 %>
  </div>

	<div class="clearfix"></div>

	<hr>

  <!-- photo -->
  <h3>Upload Picture</h3>
	<%= f.fields_for :big_bun_photo do |photo| %>
		<div class="form-group col-md-4 restaurant-dish-photo-div">
			<div class="restaurant-dish-photo">
				<% if @big_bun.big_bun_photo.id?%>
					<%= image_tag(@big_bun.big_bun_photo.photo(:thumb))%>
				<%end%>
				<%= photo.file_field :photo %>
			</div>
		</div>
	<%end%>

</div>

