<div class="col-xs-12">
  <div class="row">
    <!-- Name -->
    <div class="col-md-12">
      <div class="field">
        <%= f.label :name, 'Name of the dish/food' %>
        <%= f.text_field :name %>
      </div>
    </div>

    <!-- About -->
    <div class="col-md-12">
      <div class="field">
        <%= f.label :about, "About" %>
        <%= f.text_area :about %>
      </div>
    </div>

    <!-- ingredients -->
    <div class="col-md-12">
      <div class="field">
        <%= f.label :ingredients, "Ingredients" %>
        <%= f.text_area :ingredients %>
      </div>
    </div>

    <%= f.fields_for :food_cuisine_ships, @food.food_cuisine_ships.each do |food_cuisine_ship| %>
        <div class="col-sm-3">
          <div class="field">
            <%= food_cuisine_ship.label :cuisine_id ,'Cuisine Type' %>
            <%= food_cuisine_ship.collection_select :cuisine_id, Cuisine.all, :id, :name,{}, class:"", include_blank: "please select" %>
          </div>
        </div>
    <% end %>

    <div class="clearfix"></div>

    <!-- Unit -->
    <div class="col-md-3">
      <div class="field">
        <%= f.label :unit, 'QTY' %>
        <%= f.number_field :unit, step: 0.01, placeholder: 'Select amount' %>
      </div>
    </div>

    <div class="col-md-3 col-md-offset-3">
      <div class="field">
        <%= f.label :unit_name ,'Unit of measure' %>
        <%= f.text_field :unit_name, placeholder: 'Select unit'%>
      </div>
    </div>


    <div class="clearfix"></div>

    <!-- Price -->
    <div class="col-md-3">
      <div class="field">
        <%= f.label :price %>
        <%= f.number_field :price, :step => 0.01, placeholder: '$' %>
      </div>
    </div>

    <!-- Max Order -->
    <div class="col-md-3 col-md-offset-3">
      <div class="field">
        <%= f.label :max_order, 'Max Available Order' %>
        <%= f.number_field :max_order, step: 0.01 %>
      </div>
    </div>

    <div class="clearfix"></div>

    <!-- lunch or dinner -->
    <div class="col-md-12">
      <h4 class="bold">Availability</h4>
    </div>

    <div class="col-md-12">
      <div class="ui checkbox mr30">
        <%= f.check_box :support_lunch %>
        <%= f.label :support_lunch , 'Lunch' %>
      </div>
      <div class="ui checkbox mr30">
        <%= f.check_box :support_dinner %>
        <%= f.label :support_dinner , 'Dinner' %>
      </div>
    </div>

    <div class="clearfix"></div>

    <!-- support days -->
    <div class="col-xs-12">
      <% @week_list.each do |day| %>
          <div class="ui checkbox mr30">
            <input type="checkbox" value=<%=day[:value]%> name="food[support_days][]" id="food_support_days_id-<%=day[:value]%>" tabindex="0" class="hidden">
            <label><%= day[:name] %></label>
          </div>
      <% end %>
    </div>

    <div class="col-xs-12">
      <hr class="gray_line">
    </div>

    <!-- photos -->
    <div class="col-md-12">
      <h4 class="bold">Upload dish images</h4>
    </div>

    <div class="col-xs-12">
      <div class="row">
        <%= f.fields_for :food_photos, @food.food_photos.each do |photo| %>
            <div class="col-md-4">
              <div class="img_upload p10 dib background_white border_main_radius">
                <%= photo.label :photo ,style:"background-image:url(#{photo.object.photo if photo.object.photo.file?})" do %>
                    <i class="photo_icon"></i>
                    <h4>Upload a profile photo</h4>
                <% end %>
                <%= photo.file_field :photo ,class:'hidden'%>
                <%= photo.label :remove_photo, class: 'mt15 square_icon fa fa-trash-o border_red remove_img' do %>
                    <%= photo.check_box :remove_photo, class: 'hidden' %>
                <% end %>
              </div>

            </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12">
      <hr class="gray_line">
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.remove_img').click(function(e){
    e.preventDefault()
    $(this).toggleClass('img_removed')
  });

  <% if @food.support_days.present? %>
  var support_days = <%= @food.support_days %>;
  <%else%>
  var support_days = []
  <%end%>

  if (support_days) {
    for (var i = 0; i < support_days.length; i++) {
      id = support_days[i];
      id_name = '#food_support_days_id-' + id;
      $(id_name).click();
    }
  }
</script>
