<div class="container chef-container center" >
	<div class="row col-md-offset-1">
		<h3><%=link_to "HOME", root_path%><span> > <%=params[:action]%></span></h3>
	</div>
	<div class="row">
		<%= form_for setup_food(@food), :url => chef_foods_path(@chef.id), :method => :post do |f| %>

			<%= render :partial => 'form', :locals => { :f => f } %>

			<div class="form_control col-md-offset-1 col-md-10">
				<%= f.submit "SUBMIT",:class=>"btn btn-success center", :id=>"chef-submit-btn"%>
			</div>
		<%end%>
	</div>
</div>





