<%= render 'carousel' %>
<div class="container">
  <section class="row">
    <div class="col-xs-12 basic_bg_top">

      <div class="row">
        <div class="col-xs-12">
          <button></button>
          <button></button>
          <button></button>
        </div>
        <div class="col-xs-4">
          <h1>Roasted Duck</h1>
          <span>Asian Fusion</span>
          <span>American</span>
          <span>Chinese</span>
        </div>
        <div class="col-xs-4 col-xs-offset-4">

        </div>
        <div class="col-xs-12">
          <h4>Orders reached:</h4>
          <div class="ui indicating progress"  data-percent="74">
            <div class="bar"></div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section class="row">
    <div class="col-xs-12 basic_bg">
      <div>About this dish | Ingredients</div>
      <div>
        <p>Free range chicken stewed in a spicy tomatillo sauce and served over saffron white rice with cilantro. Served
          with sweet and spicy chilie- roasted carrots with pickled red onions and toasted pepitas. Free range chicken
          stewed in a spicy tomatillo sauce and served over saffron white rice with cilantro. Served with sweet and
          spicy chilie- roasted carrots with pickled red onions and toasted pepitas.  </p>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="col-xs-12 basic_bg">
      <div class="row">
        <div class="col-xs-3">
          <div class="square_img border_main_radius" style="background-image: url(<%= image_path('tmp/kitchen.png') %>)"></div>
        </div>
        <div class="col-xs-9">
          <div>
            <h1 class="dib">Mr.Chan’s Kitchen</h1>
            <button class="ui button my_btn_reserve">Menu</button>
          </div>
          <div>
            <div class="dib">
              <i class="show_rated_4"></i><span class="">122 Likes</span>
            </div>
            <i class="l_line"></i>
            <div class="dib">
              <i class="fa fa-heart red" aria-hidden="true"></i><span>200 reviews</span>
            </div>
            <i class="l_line"></i>
            <div class="dib">
              <i class="cloche_icon"></i><span class="">60 Ordered</span>
            </div>
          </div>
          <div>
            <p>“Mr.Chan’s kitchen makes the best Chinese food in town. I love their roasted duck, no one else makes them as good as Mr.Chan! Absolutely favorite!” </p>
          </div>
          <div>
            <span>- John Doe</span> <i class="show_rated_4"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="col-xs-12 basic_bg">
      <h3>You may also want</h3>
      <div class="row flex">
        <div class="col-xs-5">
          <%= render 'product_carousel' %>
        </div>
        <div class="col-xs-7">
          <div>
            <h3>Seasonal Pumpkin Soup</h3>
          </div>
          <div>
            <h3 class="red">$7.00/ Bowl</h3>
          </div>
          <div class="product_item">
            <%= render 'spinner', qty: 1  %>
          </div>
          <div>
            <h3 class="blck normal">2 Left <i class="l_line"></i> 12 Ordered</h3>
          </div>
          <div>
            <h3 class="black">Ingredients: <br>Pumpkin, spice, cream, herb
            </h3>
          </div>
          <div>
            <i class="fa fa-heart red" aria-hidden="true"></i><i class="share_icon"></i><a href="" class="gray">More...</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="load_more">
    <input type="button" value="Load more">
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('.ui.progress').progress();
  })
</script>
<%= javascript_include_tag 'spinner' %>