<%= first_bulk = nil %>
<%= last_bulk = nil %>
<% @restaurant.bulk_buys.each_with_index do |bulk_buy, index| %>
    <% first_bulk = bulk_buy  if index == 0  %>
    <% last_bulk = bulk_buy  if index == 1  %>
<% end %>
<div class="row">
  <div class="col-xs-12 col-sm-2 tac mb20 mbn_sm">
    <i class="cart_icon_red"></i>
    <h4 class="red">Bulk Buy</h4>
  </div>
  <% if first_bulk && ((first_bulk.location_2.present? && first_bulk.pick_up_time_2.present?) || (first_bulk.location_1.present? && first_bulk.pick_up_time_1.present?)) %>
      <div class="col-xs-12 col-sm-10">
        <div class="row">
          <div class="col-lg-2 col-sm-3">
            <h4 class="bold mb20">Lunch</h4>
            <h4>Cut off time:</h4>
            <%if first_bulk.cut_off_time.strftime('%H').to_i <= 13 %>
                <h4 class="mt0_md mt10"><%= first_bulk.cut_off_time.strftime('%H:%M') %></h4>
            <%else%>
                <h4 class="mt0_md mt10"><%= first_bulk.cut_off_time.strftime('%H:%M') %></h4>
            <%end%>
          </div>
          <div class="col-lg-10 col-sm-9">
            <h4 class="invisible bold mb20_sm">Lunch</h4>
            <div class="row">
              <% if first_bulk.location_1.present? && first_bulk.pick_up_time_1.present? %>
                  <div class="col-lg-6 col-xs-12">
                    <h4>Pick up option 1:</h4>
                    <div class="df mt20">
                      <i class="fa fa-clock-o red fa-2x pr15 tac" style="width: 50px;"></i>
                      <span style="font-size: 16px;"><%= first_bulk.pick_up_time_1.strftime('%H:%M') %></span>
                    </div>
                    <div class="df mt15 bulk_location" data-coordinates="<%= Geocoder.coordinates(first_bulk.location_1) %>">
                      <i class="fa fa-map-marker fa-2x red pr15 tac" style="width: 50px;"></i>
                      <span style="font-size: 16px;"><%= first_bulk.location_1 %></span>
                    </div>
                  </div>
              <% end %>
              <% if first_bulk.location_2.present? && first_bulk.pick_up_time_2.present? %>
                  <div class="col-lg-6 col-xs-12 mt20 mt0_lg">
                    <h4>Pick up option 2:</h4>
                    <div class="df mt20">
                      <i class="fa fa-clock-o red fa-2x pr15 tac" style="width: 50px;"></i>
                      <span style="font-size: 16px;"><%= first_bulk.pick_up_time_2.strftime('%H:%M') %></span>
                    </div>
                    <div class="df mt15 bulk_location" data-coordinates="<%= Geocoder.coordinates(first_bulk.location_2) %>">
                      <i class="fa fa-map-marker fa-2x red pr15 tac" style="width: 50px;"></i>
                      <span style="font-size: 16px;"><%= first_bulk.location_2 %></span>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
  <% if last_bulk && ((last_bulk.location_2.present? && last_bulk.pick_up_time_2.present?) || (last_bulk.location_1.present? && last_bulk.pick_up_time_1.present?)) %>
      <div class="col-xs-12 col-sm-2"></div>
      <div class="col-xs-12 col-sm-10 mt30 mtn_sm">
        <div class="row">
          <div class="col-lg-2 col-sm-3">
            <h4 class="bold mb20">Dinner</h4>
            <h4>Cut off time:</h4>
            <%if last_bulk.cut_off_time.strftime('%H').to_i <= 13 %>
                <h4 class="mt0_md mt10"><%= last_bulk.cut_off_time.strftime('%H:%M') %></h4>
            <%else%>
                <h4 class="mt0_md mt10"><%= last_bulk.cut_off_time.strftime('%H:%M') %></h4>
            <%end%>
          </div>
          <div class="col-lg-10 col-sm-9">
            <h4 class="invisible bold mb20_sm">Dinner</h4>
            <div class="row">
              <% if last_bulk.location_1.present? && last_bulk.pick_up_time_1.present? %>
                  <div class="col-lg-6 col-xs-12">
                    <h4>Pick up option 1:</h4>
                    <div class="df mt20">
                      <i class="fa fa-clock-o red fa-2x pr15 tac" style="width: 50px;"></i>
                      <span style="font-size: 16px;"><%= last_bulk.pick_up_time_1.strftime('%H:%M') %></span>
                    </div>
                    <div class="df mt15 bulk_location" data-coordinates="<%= Geocoder.coordinates(last_bulk.location_1) %>">
                      <i class="fa fa-map-marker fa-2x red pr15 tac" style="width: 50px;"></i>
                      <span style="font-size: 16px;"><%= last_bulk.location_1 %></span>
                    </div>
                  </div>
              <% end %>
              <% if last_bulk.location_2.present? && last_bulk.pick_up_time_2.present? %>
                  <div class="col-lg-6 col-xs-12 mt20 mt0_lg">
                    <h4>Pick up option 2:</h4>
                    <div class="df mt20">
                      <i class="fa fa-clock-o red fa-2x pr15 tac" style="width: 50px;"></i>
                      <span style="font-size: 16px;"><%= last_bulk.pick_up_time_2.strftime('%H:%M') %></span>
                    </div>
                    <div class="df mt15 bulk_location" data-coordinates="<%= Geocoder.coordinates(last_bulk.location_2) %>">
                      <i class="fa fa-map-marker fa-2x red pr15 tac" style="width: 50px;"></i>
                      <span style="font-size: 16px;"><%= last_bulk.location_2 %></span>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>

<style>
  .bulk_location{
    cursor: pointer;
  }
</style>