<div class="col-xs-12 banner" style="background-image:url(<%= image_path @restaurant.main_photo %>);">
  <% if @restaurant.big_buns.present? %>
  <img src="<%= image_path 'tmp/BB_DHD.png' %>" class="mrla db flr_sm mr50_sm bigbun cursor_pointer">
      <% end %>
</div>
<div class="container">
  <section class="row">
    <div class="col-xs-12 basic_bg_top pt0 pt30_md">
      <div class="row">
        <div class="col-xs-12 visible-xs">
          <% content_for :img_title do %>
              <div class="col-xs-12 col-sm-3">
                <div class="background_white p10 border_main_radius" name="img_background_white">
                  <div class="square_img border_main_radius" style="background-image: url(<%= image_path @restaurant.main_photo %>);"></div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-9">
                <h1 class="black bold pl45_sm tac tan_sm mt110 mt20_sm mb20"><%= @restaurant.name.capitalize %></h1>
              </div>
          <% end %>
          <%= content_for :img_title %>
        </div>
        <div class="col-xs-12 tar social_buttons mb30_xs mb0_sm">
          <button class="ui button my_btn small_btn"><i class="fa fa-heart-o white" aria-hidden="true"></i>137</button>
          <button class="ui button my_btn small_btn"><i class="share_icon_white" aria-hidden="true"></i>Share</button>
        </div>
        <div class="col-xs-12 hidden-xs">
          <%= content_for :img_title %>
        </div>
        <div class="col-xs-12 mb20">
          <div class="col-sm-3 col-xs-12">
            <h4 class="dib"><%= @restaurant.orders.count%> Total orders</h4>
          </div>
          <div class="col-sm-6 col-xs-12 pt10 pl60_sm">
            <% @restaurant.cuisines.each do |cuisine| %>
              <span class="sub_link ml15"><%= cuisine.name %></span>
            <% end %>
          </div>

          <div class="col-sm-3 col-xs-12 tar_sm mt10 mt0_sm">
            <div class="show_rated_<%= @score_rate%>"></div>
            <span class="db_sm"><%= @restaurant.food_comments_count%>  reviews</span>
          </div>
        </div>

        <div class="col-xs-12 df">
          <div class="dib_sm tac ml10_sm">
            <i class="cart_icon_red"></i>
            <h4>Bulk Buy</h4>
          </div>
          <div>
            <div class="dib_sm ml40 ml100_lg">
              <h4>Cut off time:</h4>
            </div>
            <div class="cleafix"></div>
            <% @restaurant.bulk_buys.each do |bulk_buy|%>
              <div class="dib_sm ml40 ml100_lg">
                <%if bulk_buy.cut_off_time.strftime('%H').to_i <= 13 %>
                  <h4>Launch <%= bulk_buy.cut_off_time.strftime('%H:%M') %></h4>
                <%else%>
                  <h4>Dinner <%= bulk_buy.cut_off_time.strftime('%H:%M') %></h4>
                <%end%>
              </div>
            <%end%>
          </div>
        </div>
        <div class="col-xs-12">
          <i class="red_line mb30_md"></i>
        </div>

        <div class="col-xs-12 df">
          <div class="dib_sm tac ml10_sm">
            <i class="moto_icon_red"></i>
            <h4>Delivery</h4>
          </div>
          <div>
            <div class="dib_sm ml40 ml100_lg">
              <h4>Min. delivery  order:</h4>
              <h4 class="mb15">
                <% if @restaurant.delivery%>
                  <%= @restaurant.delivery.min_order %>
                <%end%>
              </h4>
            </div>
            <div class="dib_sm ml40 ml100_lg">
              <h4>Delivery distance: </h4>
              <h4 class="mb15">
                <% if @restaurant.delivery%>
                  <%= @restaurant.delivery.distance %> mi
                <%end%>
              </h4>
            </div>
            <div class="dib_sm ml40 ml100_lg">
              <h4>Delivery cost:</h4>
              <h4 class="mb15">
                <% if @restaurant.delivery%>
                  $ <%= @restaurant.delivery.cost %>
                <%end%>
              </h4>
            </div>
            <div class="dib_sm ml40 ml100_lg">
              <h4>Order hours:</h4>
              <h4 class="mb15">
                <% if @restaurant.delivery%>
                  <%= @restaurant.delivery.order_hours %> hr
                <%end%>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <i class="red_line mb30_md"></i>
        </div>
        <div class="col-xs-12 df">
          <div class="dib_sm tac ml10_sm">
            <i class="cert_icon_red"></i>
            <h4>Certificate</h4>
          </div>
          <div>
            <div class="dib_sm ml30 ml90_lg">
              <h4>Culinary Union Training Center:</h4>
              <h4 class="mb15">Food Server</h4>
            </div>
            <div class="dib_sm ml30_xs ml40_sm ml100_lg">
              <h4>California Culinary Academy:</h4>
              <h4>Graduated</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="col-xs-12 basic_bg">
      <div class="align_two_side">
        <h3 class="dib">Orders reached:</h3>
      </div>
      <div>
        <h3 class="tar_sm bold">Goal: $<%= @restaurant.order_reach%></h3>
      </div>
      <div>
        <h3 class="red" style="margin-left: 74%; transform: translateX(-30%); margin-bottom: 15px;">Reached</h3>
        <div class="ui indicating progress"  data-percent="<%= @reach_percent %>">
          <div class="bar"></div>
        </div>
        <h2 class="red" style="margin-left: 74%; transform: translateX(-27%);">$ <%= @today_orders.sum(:amount)%></h2>
      </div>
    </div>
  </section>


  <section class="row">
    <div class="col-xs-12 basic_bg">
      <div class="row df_sm">
        <div class="col-xs-12 col-sm-5 location_map">
          <h3>Pick up locations:</h3>
          <% @restaurant.bulk_buys.each do |bulk_buy|%>
            <div class="row">
              <div class="col-xs-2 tac pt10">
                <i class="fa fa-map-marker red" aria-hidden="true"></i>
              </div>
              <div class="col-xs-10">
                <h4 class="normal"><%= bulk_buy.location%></h4>
              </div>
              <div class="col-xs-12">
                <i class="red_line"></i>
              </div>
            </div>
          <%end%>
        </div>
        <div class="col-xs-12 col-sm-7 ">
          <div class="background_img_setting" style="background-image:url(<%= image_path('tmp/kitchen_map.png') %>);" name="location_map"></div>
        </div>

      </div>
    </div>
  </section>


  <section class="row">
    <div class="col-xs-6">
      <div class="basic_bg_bottom tac mb0 cursor_pointer red" id="today_tab">
        <h1 class="m0">TODAY</h1>
      </div>
    </div>
    <div class="col-xs-6">
      <div class=" basic_bg_bottom tac mb0 background_red white cursor_pointer" id="advance_tab">
        <h1 class="m0">IN ADVANCE</h1>
      </div>
    </div>
    <div class="col-xs-12 basic_bg_top pl0_sm product_lists">
      <i class="red fa fa-list pl35 pb20 cursor_pointer" aria-hidden="true"></i>
      <i class="block_icon_red pl35 ml35 hidden cursor_pointer" aria-hidden="true"></i>
      <div class="today_tab">
        <% 3.times.each_with_index do |index| %>
            <%= render 'common/product_list' ,index:index  %>
        <% end %>
      </div>
      <div class="advance_tab hidden">
        <% 1.times.each_with_index do |index| %>
            <%= render 'common/product_list' ,index:index  %>
        <% end %>
      </div>
    </div>
  </section>
  <div class="load_more">
    <input type="button" value="Load more">
  </div>
</div>

<%= render 'common/add_to_cart' %>
<%= render 'common/bigbun', id:1 %>


<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('.ui.progress').progress();
    $(document).on('click','#advance_tab.white,#today_tab.white',function(){
      $('#advance_tab,#today_tab').toggleClass('background_red').toggleClass('white').toggleClass('red')
      $('.advance_tab,.today_tab').toggleClass('hidden')
    })
    $(document).on('click','.product_lists > i',function(){
      $('.product_lists > i').toggleClass('hidden')
      $('.advance_tab,.today_tab').toggleClass('list_status')
    })
  })
</script>