<div class="col-xs-12 banner">
  <div class="row">
    <div class="down_cover">
      <div class="container">
        <h4 name="total_orders" class="bold">1000 Total orders</h4>
        <% content_for :link_button do %>
            <button class="ui button my_btn"><%= image_tag 'icon/chat.png' %>Chat</button>
            <button class="ui button my_btn"><%= image_tag 'icon/white_heart.png' %>137</button>
            <button class="ui button my_btn"><%= image_tag 'icon/follow.png' %>Follow</button>
            <button class="ui button my_btn"><%= image_tag 'icon/share.png' %>Share</button>
        <% end %>
        <div class="hidden-xs">
          <%= content_for :link_button %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% content_for :kitchen_name do %>
          <h2>Mr.chen Kichen</h2>
      <% end %>
      <% content_for :kitchen_rating do %>
          <div class="rated">
            <sapn class="show_rated_4"></sapn>
            <span>200 reviews</span>
          </div>
          <div class="sub_tags">
            <a href=""><span>Asian Fusion</span></a><a href=""><span>American</span></a><a href=""><span>Chinese</span></a>
          </div>
      <% end %>
      <div class="basic_bg_top kitchen_info">
        <%= image_tag 'tmp/kitchen.png',name:'major' %>
        <div class="row visible-xs">
          <div class="col-xs-12 xs_kitchen_info">
            <%= content_for :kitchen_name %>
            <%= content_for :kitchen_rating %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="visible-xs four_link_button">
              <%= content_for :link_button %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 hidden-xs">
            <%= content_for :kitchen_name %>
          </div>
          <div class="col-xs-12 sub_info">
            <div class="hidden-xs">
              <%= content_for :kitchen_rating %>
            </div>
            <div>
              <%= image_tag 'icon/cart.png',name:'cart' %>
              <h5>Bulk Buy</h5>
            </div>
            <div>
              <%= image_tag 'icon/moto.png',name:'moto' %>
              <h5>Delivery</h5>
            </div>
            <div>
              <%= image_tag 'icon/cert.png',name:'cert' %>
              <h5>Certificate</h5>
            </div>
            <div>
              <a href="">more...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="basic_bg order_reached">
        <h4>Orders reached:</h4>
        <div class="ui indicating progress"  data-percent="74">
          <div class="bar"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 traffic_info">
      <div class="row flex">
        <div class="col-sm-4 col-xs-12">
          <div class="basic_bg">
            <div class="row">
              <div class="col-sm-2 col-xs-4">
                <%= image_tag 'icon/cart.png',name:'cart' %>
              </div>
              <div class="col-sm-10 col-xs-8">
                <h4>Min.order before deivery:</h4>
                <p>$5</p>
                <h4>Cut off time:</h4>
                <p>Lunch 10:30</p>
                <p>Dinner 17:00</p>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 col-xs-4">
                <%= image_tag 'icon/moto.png',name:'moto' %>
              </div>
              <div class="col-sm-10 col-xs-8">
                <h4>Min.devlivery order:</h4>
                <p>10</p>
                <h4>Delivery distance:</h4>
                <p>5 min</p>
                <h4>Delivery cost:</h4>
                <p>$3</p>
                <h4>Order hours:</h4>
                <p>1 hr</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-xs-12">
          <div class="basic_bg">
            <div class="col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1 location_map flex">
              <div>
                <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
              </div>
              <div>
                <p>Pacific Hights</p>
                <p>Lower pacific heights</p>
                <p>2821 Califrnia st.San Francisco CA 94115</p>
              </div>
            </div>
            <%= image_tag 'tmp/kitchen_map.png',class:'gmap' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 product_items">

      <div class="select_tabs flex">
        <div class="basic_bg_bottom active">
          <h2>TODAY</h2>
          <hr>
        </div>
        <div class="basic_bg_bottom">
          <h2>IN ADVANCE</h2>
          <hr>
        </div>
      </div>
      <div class="basic_bg_top">
        <i class="fa fa-list fa-2x" aria-hidden="true"></i>
        <% 5.times do |s|%>
            <div class="product_item flex">
              <div class="product_item_img">
                <div id="myCarousel<%= s %>" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <div style="background: url('<%= image_path 'tmp/kitchen.png' %>') center;-webkit-background-size: cover;background-size: cover;">
                      </div></div>

                    <div class="item">
                      <div style="background: url('<%= image_path 'tmp/kitchen_1.png' %>') center;-webkit-background-size: cover;background-size: cover;">
                      </div></div>

                    <div class="item">
                      <div style="background: url('<%= image_path 'tmp/kitchen_2.png' %>') center;-webkit-background-size: cover;background-size: cover;">
                      </div></div>

                    <div class="item">
                      <div style="background: url('<%= image_path 'tmp/kitchen.png' %>') center;-webkit-background-size: cover;background-size: cover;">
                      </div></div>
                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel<%= s %>" role="button" data-slide="prev">
                    <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel<%= s %>" role="button" data-slide="next">
                    <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="product_item_info">
                <div>
                  <h2 class="bold">Roasted Duck</h2>
                </div>
                <div>
                  <h4 class="red">$ 7.00/Half</h4>
                  <%= render 'spinner', qty: 1  %>
                  <span>1 orderd</span>
                </div>
                <div>
                  <h4>Ingredents:</h4>
                  <% a = 'Duck,herb,Stuff,things,this and thiatDuck,herb,Stuff,things,this and thiatDuck,herb,Stuff,things,this and thiatDuck,herb,Stuff,things,this and thiatDuck,herb,Stuff,things,this and thiatDuck,herb,Stuff,things,this and thiatDuck,herb,Stuff,things,this and thiatDuck,herb,Stuff,things,this and thiatDuck,herb,Stuff,things,this and thiatDuck,herb,Stuff,things,this and thiat' %>
                  <p name="ingredents"><%= truncate(a.gsub('\n',''),omission:'...', length:200 ) %></p>
                </div>
                <div>
                  <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
                  <i class="fa fa-external-link fa-2x" aria-hidden="true"></i>
                  <a href="">More...</a>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12">
  <div class="row">
    <div class="load_more" id="load_more">
      <button class="ui button my_btn absolute_center">Load more</button>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="row">
    <div class="cart_info flex_center">
      <div class="container">
        <%= image_tag 'icon/cart_white.png',name:'cart_white' %>
        <span>$ 21.00</span>
        <button class="ui button my_btn">NEXT</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  back_top_minus_hight = 1020;
  $(document).ready(function(){
    $('.ui.progress').progress();
    $('.select_tabs .basic_bg_bottom').click(function(){
      $('.basic_bg_bottom').toggleClass('active')
    })
  })
</script>
<%= javascript_include_tag 'spinner' %>