<div class="col-xs-12 banner">
  <div class="row">
    <div class="down_cover">
      <div class="container">
        <button class="ui button my_btn"><%= image_tag 'icon/chat.png' %>Chat</button>
        <button class="ui button my_btn"><%= image_tag 'icon/white_heart.png' %>137</button>
        <button class="ui button my_btn"><%= image_tag 'icon/follow.png' %>Follow</button>
        <button class="ui button my_btn"><%= image_tag 'icon/share.png' %>Share</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-xs-12 basic_bg kitchen_info">
    <div class="row">
      <%= image_tag 'tmp/kitchen.png',name:'major' %>
      <div class="col-xs-12">
        <h1>Mr.chen Kichen</h1>
      </div>
      <div class="col-xs-12 sub_info">
        <div>
<div class=""></div>
        </div>
        <div>
          <h4>Bulk Buy</h4>
        </div>
        <div>
          <h4>Delivery</h4>
        </div>
        <div>
          <h4>Certificate</h4>
        </div>

      </div>


    </div>
  </div>
</div>
