<div class="message_content" id="conversations-list">
  <div class="message_top white col-xs-12">
    <div class="row">
      <div class="col-xs-1">
        <i class="fa fa-angle-left visible-xs visible-sm cursor_pointer"></i>
      </div>
      <div class="col-xs-10" style="height: 70px;">
        <div class="background_img_setting border_main_radius" style="background-image: url(<%= image_path 'tmp/product.png' %>);"></div>
        <h4 class="mtb10" style="font-size: 18px;"><%= @recipient.name %></h4>

        <% if @messages.size > 0%>
            <span><%=@messages.last.updated_at.localtime.strftime("%Y-%m-%d %H:%M:%S")%></span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="message_body col-xs-12" data-conversation-id="<%= @conversation.id %>">
    <div class="mb15">
      <div class="background_img_setting border_main_radius mtn_sm fll" style="background-image: url(<%= image_path 'tmp/product.png' %>);"></div> <!-- TODO:這是什麼？請幫我補前端 -->
      <h4 style="line-height: 70px;" class="ml10"><%= @recipient.name %></h4>
    </div>
    <div class="row messages-list">
      <div class="col-xs-12 messages">
        <ul>
          <% @messages.each do |message|%>
              <li>
                  <%if message.user_id == @sender.id%>
                      <% message_type = "message-sent message-right" %>
                  <%else%>
                      <% message_type = "message-received message-left" %>
                  <%end%>
                  <div class="<%=message_type%>">
                    <%=message.body%>
                  </div>
              </li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
  <div class="message_bottom col-xs-12">
    <form class="new_message">
      <input name="conversation_id" type="hidden" value="<%= @conversation.id %>">
      <input name="user_id" type="hidden" value="<%= @sender.id %>">
      <textarea name="body" class="form-control"></textarea>
      <input type="submit" class="submit" value="Send">
    </form>
  </div>
</div>