<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <%= image_tag 'logo.png' %>
        HOEWTASTE
      </a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% unless @chef %>
            <li><a href="#">Help</a><span class="hidden-xs">|</span></li>
            <li><%= link_to 'Become a chef', new_chef_path %><span class="hidden-xs">|</span></li>
        <% end %>

        <% if current_user %>
            <div class="ui selection dropdown hidden-xs">
              <i class="dropdown icon"></i>
              <div class="default text">Hi! <%= current_user.name %></div>
              <div class="menu">

                <% if current_user.is_chef %>
                    <div class="item"><%= link_to('Chef’s Homepage', sales_chef_path(current_user.chef)) %></div>
                    <div class="item"><%= link_to('Menu', menu_chef_path(current_user.chef)) %></div>
                    <div class="item"><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></div>
                <% else %>

                    <div class="item"><%= link_to('My account', purchase_user_path(current_user)) %></div>
                    <div class="item"><%= link_to('Message','') %></div>
                    <div class="item"><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></div>
                <% end %>
              </div>
            </div>
        <% end %>

        <% if current_user %>

          <% if current_user.is_chef %>
            <li class="visible-xs"><%= link_to('Chef’s Homepage', sales_chef_path(current_user.chef)) %></li>
            <li class="visible-xs"><%= link_to('Menu', '') %></li>
            <li class="visible-xs"><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></li>

          <% else %>
            <li class="visible-xs"><%= link_to('My account', purchase_user_path(current_user)) %></li>
            <li class="visible-xs"><%= link_to('Message', '') %></li>
            <li class="visible-xs"><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></li>
          <% end %>

        <% else %>
            <li><a class="sign_up">Sign up</a><span class="hidden-xs">|</span></li>
            <li><a class="login">Log In</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<script type="text/javascript" charset="utf-8">
  $('.dropdown-toggle').dropdown()
</script>
<%= render 'common/login_form' %>
<%= render 'common/sign_up_form' %>
<%= render 'common/auth_link' %>