<div id="productCarousel_<%= food.id %>" class="carousel slide product_carousel" data-ride="carousel">
  <ol class="carousel-indicators">
    <% food.food_photos.each_with_index do |photo,index| %>
        <li data-target="#productCarousel_<%= index %>" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
    <% end %>
  </ol>

  <div class="carousel-inner" role="listbox">
    <% food.food_photos.each_with_index do |photo,index| %>
        <div class="item <%= 'active' if index == 0 %>">
          <div style="background-image: url(<%= image_path photo.photo.url %>);" class="background_img_setting" data-food-id-pic="<%= food.id %>"></div>
        </div>
    <% end %>
  </div>

  <a class="left carousel-control" href="#productCarousel_<%= food.id %>" role="button" data-slide="prev">
    <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#productCarousel_<%= food.id %>" role="button" data-slide="next">
    <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
    <span class="sr-only">Next</span>
  </a>
</div>