<div class="ui small modal" id="sign_up_modal">
  <i class="close icon"></i>
  <div class="content">
    <div class="ui form my_form">
      <%= form_for(@user, url: registration_path(@user)) do |f| %>

          <div class="field">
            <%#= f.text_field :foodie_id, :placeholder => "Foodie ID"%>
          </div>

          <div class="field">
            <%= f.text_field :name, :placeholder => "Your Name"%>
          </div>

          <div class="field">
            <%= f.email_field :email, autofocus: true , :placeholder => "Email"%>
          </div>

          <div class="field">
            <%= f.text_field :phone_number, :placeholder => "Phone Number"%>
          </div>

          <div class="field">
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "off", :placeholder => "Password"%>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm Password" %>
          </div>
          <span name="term">By singing up,you agree with our <a href="<%= terms_path %>">terms</a> and <a href="<%= conditions_path %>">conditions.</a></span>
          <div class="actions">
            <%= f.submit "Sign up" ,class:'ui button my_btn', :id =>"sign_up_btn"%>
          </div>
      <% end %>
    </div>

  </div>
  <div class="row outh_logo">
  <div class="col-xs-12">

      <p >Sign up with</p>
      <%= link_to user_facebook_omniauth_authorize_path do %>
          <i class="fa fa-facebook square_icon" aria-hidden="true"></i>
      <% end %>
    <%= link_to user_google_oauth2_omniauth_authorize_path do %>
        <i class="fa fa-google-plus square_icon" aria-hidden="true"></i>
    <% end %>
      <i class="fa fa-weixin square_icon" aria-hidden="true"></i>
    </div>
  </div>
</div>
