<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <%= image_tag 'logo.png' %>
        HOEWTASTE
      </a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% unless @chef %>
            <li><a href="#">Help</a><span class="hidden-xs">|</span></li>
            <li><%= link_to "Become a chef", new_chef_path %><span class="hidden-xs">|</span></li>
        <% end %>
        <li class="dropdown hidden-xs">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi! <%= current_user.name %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if current_user %>
                <li><%= link_to('My account', edit_user_path(current_user), :method => :delete) %></li>
                <li><%= link_to('Message', edit_user_path(current_user)) %></li>
                <li><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></li>
            <% elsif @chef && current_user %>
                <li><%= link_to('Chef’s Homepage', edit_user_path(current_user), :method => :delete) %></li>
                <li><%= link_to('Menu', edit_user_path(current_user)) %></li>
                <li><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></li>
            <% end %>
          </ul>
        </li>
        <% if current_user %>
            <li class="visible-xs"><%= link_to('My account', edit_user_path(current_user), :method => :delete) %></li>
            <li class="visible-xs"><%= link_to('Message', edit_user_path(current_user)) %></li>
            <li class="visible-xs"><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></li>
        <% elsif @chef && current_user %>
            <li class="visible-xs"><%= link_to('Chef’s Homepage', edit_user_path(current_user), :method => :delete) %></li>
            <li class="visible-xs"><%= link_to('Menu', edit_user_path(current_user)) %></li>
            <li class="visible-xs"><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
            <li><a id="sign_up">Sign up</a><span class="hidden-xs">|</span></li>
            <li><a id="login">Log In</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<%= render 'main/login_form' %>
<%= render 'main/sign_up_form' %>