<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <%= image_tag 'logo.png' %>
        HOEWTASTE
      </a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Help</a><span>|</span></li>
        <li><a href="#about">Become a chef</a><span>|</span></li>

        <% if current_user %>
            <li><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li>
            <li><%= link_to('修改密碼', edit_registration_path(:user)) %></li>

        <% else %>
            <li><a id="sign_up">Sign up</a><span>|</span></li>
            <li><a id="login">Log In</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<%= render 'main/login_form' %>
<%= render 'main/sign_up_form' %>