<!DOCTYPE html>
<html>
<head>
  <title>Hometaste</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=1" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body class="<%= controller_name + '_' + action_name %>" data-current-time="<%= Time.current %>" data-current-date="<%= Time.current.strftime('%F') %>" data-order-date="<%= deal_params_date %>">

<%= render 'common/navbar' %>

<div class="col-md-12 alert_message <%= 'hidden' if flash.blank? %>">
  <div class="row content">
    <div style = "color: green" class ="alert-success" id="alert_notice">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <p><%= flash[:notice]%></p>
    </div>
  </div>
</div>

<div class="col-md-12 alert_message <%= 'hidden' if flash.blank? %>">
  <div class="row content">
    <div style = "color: red" class ="alert-danger" id="alert_danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <p><%= flash[:alert]%></p>
    </div>
  </div>
</div>

<%= render 'common/back_to_top' %>
<%= yield %>
<%= render 'common/footer' %>

</body>
</html>
