<!DOCTYPE html>
<html>
  <head>
    <title>Hometaste</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<div class="container">
		<ul class="container-fluid navbar navbar-fixed-top">
			<div id="logo" class="left col-md-offset-2 col-md-6 navbar-brand">
				<p>HOMETASTE</p>
			</div>
			<div class="right col-md-4 nav navbar-header navbar-nav">
				<li><%= link_to "Help","" %></li>
				<li><%= link_to "Become a chef","" %></li>
				<li><%= link_to "Log in","" %></li>
				<li class="dropdown">
			    <div class="dropdown-toggle" data-toggle="dropdown"><%= link_to "Sign up","" %>
			    </div>
			    <ul class="dropdown-menu">
			      <li><a href="#">HTML</a></li>
			      <li><a href="#">CSS</a></li>
			      <li><a href="#">JavaScript</a></li>
			    </ul>
			  </li>
			</div>
		</ul>

	  <div class="row content">
	    <div class="col-md-12">
	      <% if flash[:notice].present? %>
	        <div style = "color: green" class = "alert-success">
	          <%= flash[:notice]%>
	        </div>
	      <% end %>

	      <% if flash[:alert].present? %>
	        <div style = "color: red" class = "alert-danger">
	          <%= flash[:alert]%>
	        </div>
	      <% end %>

	      <%= yield %>
	    </div>
	  </div>
	</div>
  </body>
</html>
